*{
    color: white;
    background-color: black;
}
.form{
    display: flex;
    justify-content: center;
}

#name,#email,#password,#dob{
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 400px;    
    opacity: 1;
}
.heading{
    color: #fff;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#button{
      width: 200px;
      height: 50px;
      background-color: #fff;
      color: black;
      font-size: 25px;
}
